// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


.CodeRay pre {
  background: none;
  color: #000;
  border : 0;
}

// #main #content .blog-index a[rel="full-article"] {
//   background-color: #2878e3;
//   color: #FAFAFA;
// }

// #main #content .blog-index a[rel="full-article"]:hover {
//   background-color: #FAFAFA;
//   color: #2878e3;
// }

#content .blog-index article h1 a:hover {
  color: #2878e3;
}

figure.code, .gist-file, pre {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.CodeRay
{
  margin: 20px 0;
}

.CodeRay pre, p code, li code {
    background: #fafafa;
    color: #000;
    border: 1px solid #CCCCCC;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    border-radius: 0;
    // border: 1px solid #565656;
}

.CodeRay pre {

    padding: 12px 16px;
    font-size: 12px;
}

/* fixes issue where the whole line wouldn't get colored in a diff */
.CodeRay span.insert, .CodeRay span.change, .CodeRay span.delete {
        width: auto;
}

#content .blog-index a[rel="full-article"] {
    background: none repeat scroll 0 0 #FAFAFA;
}

body #content
{
  font-size: 15px;
  background: #fefefe;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}

.entry-content
{
  line-height: 26px;
}

hgroup > h1 > a, #logo
{
  font-size: 1.1em;
}

.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6
{
  color : #C03079;
  font-family: 'Droid Sans',​Helvetica,​Arial,​sans-serif;
}

@import "coderay-github"